# Replace URL with your Saleor backend. Make sure to keep the slash at the end.
NEXT_PUBLIC_SALEOR_API_URL=http://localhost:8000/graphql/

# make sure to add it on production for correct canonical URLs
NEXT_PUBLIC_STOREFRONT_URL=http://localhost:3000
# 
NEXT_PUBLIC_DEFAULT_CHANNEL=toyota-web 
NEXT_PUBLIC_HOME_COLLECTION_SLUG=los-mas-vendidos


# NEXT_PUBLIC_WAREHOUSE_MODE=all|single
NEXT_PUBLIC_WAREHOUSE_MODE=all
# NEXT_PUBLIC_WAREHOUSE_MODE=single
# NEXT_PUBLIC_WAREHOUSE_ID=<id_o_slug_del_warehouse> (requerido si MODE=single)
# NEXT_PUBLIC_WAREHOUSE_ID=sucursal-pachuca
NEXT_PUBLIC_WAREHOUSE_ID=toyota-universidad
# NEXT_PUBLIC_WAREHOUSE_ID=toyota-coapa

# Token used for fetching channels
SALEOR_APP_TOKEN=1qqczjdW8SKGhV7GbMTvw83TlMJbF0
